{% extends 'base.html' %}

{% block content %}

<h1>{% block title %} dust {% endblock %}</h1>

<div class="entries">
    <h3>information</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus lorem lectus, id sagittis est porta sed. Ut magna metus, maximus in justo a, feugiat iaculis diam. Duis in ligula dolor. Cras vel interdum sem. Cras lacinia velit at diam sollicitudin hendrerit. Sed at viverra est, in pretium arcu. Duis maximus imperdiet enim, ut tristique urna convallis ut. Sed vitae quam lacinia, dignissim massa ac, aliquam nulla. In quis mi interdum, elementum ipsum non, tempor turpis. Curabitur blandit feugiat arcu, in rutrum tortor porttitor ut.</p>


    <h3>symptoms</h3>

    <p>Nulla velit ligula, placerat eget tempor eu, pellentesque luctus nunc. Fusce sagittis aliquet facilisis. Pellentesque pharetra tellus nibh, viverra mattis enim tincidunt id. Sed ullamcorper elit vel placerat sollicitudin. Maecenas id nisl tortor. Nulla ornare at ligula sed rutrum. Sed non tristique orci. Maecenas pellentesque iaculis ante nec laoreet. Integer eu congue felis. Praesent rhoncus ac libero et pharetra. Suspendisse erat augue, ultricies at tempor sit amet, aliquam ac felis.</p>

    <h3>remedies</h3>

    <p>Vivamus nunc nulla, cursus ut laoreet sed, pellentesque at libero. Aliquam dignissim posuere nibh ut gravida. Sed non elit aliquet, sodales augue vitae, consequat nulla. Mauris nulla mi, faucibus nec turpis et, efficitur maximus elit. Nunc varius a sapien nec malesuada. Nulla mollis pretium lorem nec vehicula. Sed semper metus ut semper vehicula. Donec nibh lacus, vestibulum in scelerisque vitae, interdum vel felis. Sed imperdiet, odio porttitor accumsan vestibulum, elit urna posuere nisi, egestas suscipit tortor ex sed magna. Nam at bibendum justo. Quisque tempor efficitur lectus in dictum. Morbi eleifend malesuada risus, sed mattis ipsum semper in. Donec venenatis neque nisi, eget porttitor dui feugiat id.</p>

    <a href="https://www.cuh.nhs.uk/patient-information/dust-mites-in-your-home/">dust advice</a>
</div>

{% endblock %}